{% extends 'base.html' %}

{% block content %}
<div class="conteneur">
    
    <div class="entete">
        <h1>Inscriptions en attente</h1>
    </div>

    <div class="gestion-inscriptions">

        <table class="tableau-style">
            <thead>
                <tr>
                    <th>Nom d'utilisateur</th>
                    <th style="width: 250px;">Action</th> </tr>
            </thead>
            
            <tbody>
                {% for u in utilisateurs %}
                <tr>
                    <td><strong>{{ u.nom_utilisateur }}</strong></td>
                    <td>
                        <div class="actions-boutons">
                            
                            <form action="{{ url_for('valider_utilisateur', id=u.idu) }}" method="POST">
                                <button type="submit" class="bouton-valider">Valider</button>
                            </form>
                            
                            <form action="{{ url_for('refuser_utilisateur', id=u.idu) }}" method="POST">
                                <button type="submit" class="bouton-refuser">Refuser</button>
                            </form>
                            
                        </div>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="2" class="gris" style="text-align:center;">Aucune nouvelle inscription.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
    </div>

</div>
{% endblock %}