{% extends 'base.html' %}
{% block content %}

<h1>
    Veuillez chercher le nom du client qui vous intéresse pour accéder à son profil:
</h1>

<form id="searchFormClient" action="/recherche" method="get">
    <input type="text" name="nom" placeholder="Nom" required>
    <input type="text" name="prenom" placeholder="Prénom" required>
    <button type="submit">Rechercher</button>
</form>

<h1>
    Chercher un client selon son secteur de travail: 
</h1>

<form id="SearchFormSecteurClient"> 
    <input type="text" id="secteur-input" name="secteur" placeholder="Secteur" required>
    <button type="submit">Rechercher</button>
</form>


<div id="resultats-secteur">
    </div>

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Ajout de Clients</h1>
    
    {% if session.get('fonction') == 'admin' %}
        <a href="{{ url_for('ajouter_client') }}" class="btn btn-success">
            <i class="fas fa-plus-circle"></i> Ajouter un Client
        </a>
    {% endif %}
</div>

{% endblock %}

