{% extends 'base.html' %}

{% block content %}
<h1 class="titre-page">Connexion :</h1>
<div class="login-page">
    {% if erreur %}
        <div style="color: red; font-weight: bold; margin-bottom: 15px; text-align: center;">
            {{ erreur }}
        </div>
    {% endif %}
    <form action="/login" method="POST" class="login-form">
        <label for="username_field" class="label-gras">Identifiant :</label>
        <input class="style-input" type="text" id="username_field" name="identifiant" required>

        <label for="password_field" class="label-gras">Mot de passe :</label>
        <input class="style-input" type="password" id="password_field" name="mot_de_passe" required>

        <button type="submit" class="mon-bouton">Se connecter</button>

        <p class="label-gras">Vous n'avez pas de compte ?</p>
        <a href="{{ url_for('Inscription') }}" class="bouton-creercompte">Créer un compte</a>
    </form>
</div>
{% endblock %}