{% extends 'base.html' %}
{% block content %}
<h1 class="titre_page_intervenants">
    Vous avez un soucis? N'hésitez pas de contacter un de nos différents services: <img src="{{ url_for('static', filename='images/contact.png') }}" alt="logo contact" class="logo_contact">

</h1>

<div class="user-info-container">
    <h3>
        <li class="liste_competences">
            Présidence:
                <a href="/Intervenants/lahaie.oscar">Oscar LAHAIE</a>
        </li>
        <li class="liste_competences">
            Trésorerie:
                <a href="/Intervenants/fernandezdelbusto.teresa">Teresa FERNANDEZ DEL BUSTO</a>
        </li>
        <li class="liste_competences">
            Secrétariat:
                <a href="/Intervenants/deisgaux.anae">Anaé DESIGAUX</a>
        </li>
        <li class="liste_competences">
            Ressources humaines:
                <a href="/Intervenants/evano.ambre">Ambre EVANO</a>
        </li>
        <li class="liste_competences">
            Service informatique:
                <a href="/Intervenants/digallo.clement">Clément DIGALLO</a>
        </li>
</h3>


</div>
{% endblock %}