{% extends 'base.html' %}
{% block content %}
<h1>
<img src="{{ url_for('static', filename='images/contact.png') }}">
Vous avez un soucis? N'hésitez pas de contacter un de nos différents services:
</h1>
<h3>
<li>
Présidence:
<a href="/Intervenants/oscar.lahaie">Oscar LAHAIE</a>
</li>
<li>
Trésorerie:
<a href="/Intervenants/teresa.fernandezdelbusto">Teresa FERNANDEZ DEL BUSTO</a>
</li>
<li>
Secrétariat:
<a href="/Intervenants/anae.desigaux">Anaé DESIGAUX</a>
</li>
<li>
Ressources humaines:
<a href="/Intervenants/ambre.evano">Ambre EVANO</a>
</li>
<li>
Service informatique:
<a href="/Intervenants/clement.DIGALLO">Clément DIGALLO</a>
</li>
</h3>

{% endblock %}