{% extends 'base.html' %}
{% block content %}
<h1>
<img src="{{ url_for('static', filename='images/contact.png') }}">
Vous avez un soucis? N'hésitez pas de contacter un de nos différents services:
</h1>
<h3>
<li>
Présidence:
<a href="/Intervenants/lahaie.oscar">Oscar LAHAIE</a>
</li>
<li>
Trésorerie:
<a href="/Intervenants/fernandezdelbusto.teresa">Teresa FERNANDEZ DEL BUSTO</a>
</li>
<li>
Secrétariat:
<a href="/Intervenants/deisgaux.anae">Anaé DESIGAUX</a>
</li>
<li>
Ressources humaines:
<a href="/Intervenants/evano.ambre">Ambre EVANO</a>
</li>
<li>
Service informatique:
<a href="/Intervenants/digallo.clement">Clément DIGALLO</a>
</li>
</h3>

{% endblock %}