{% extends 'base.html' %}

{% block content %}
<div class="container">
    
    <h1>{{ p.titre_projet }} <span style="font-size:0.6em; color:grey;">#{{ p.idp }}</span></h1>
    <p>Client : <strong>{{ p.nom_entreprise }}</strong> ({{ p.prenom_client }} {{ p.nom_client }})</p>
    
    <p><strong>État :</strong> 
        {% if p.etat == 'En cours' %}
            <span style="color: orange;">{{ p.etat }}</span>
        {% elif p.etat == 'Terminé' %}
            <span style="color: green;">{{ p.etat }}</span>
        {% else %}
            <span style="color: blue;">{{ p.etat }}</span>
        {% endif %}
    </p>

    <p><strong>Budget :</strong> 
        {% if p.budget %} {{ p.budget }} € {% else %} Non défini {% endif %}
    </p>

    <p><strong>Période :</strong>
        {% if p.deb and p.fin %}
            {{ p.deb }} ➝ {{ p.fin }}
        {% elif p.deb %}
            Depuis le {{ p.deb }}
        {% else %}
            Date à définir
        {% endif %}
    </p>

    <hr>

    <div class="doc"><strong>Documents du projet :</strong></div>
    <ul>
        {% for doc in docs %}
        <li>
            <a href="{{ url_for('static', filename=doc.chemin) }}">
                {{ doc.chemin.split('/')[-1] }}
            </a>
        </li> 
        {% else %}
            <li>Aucun document</li>
        {% endfor %}
    </ul>
    
    <a href="{{ url_for('ajouter_documents') }}" class="btn">Ajouter un document</a>
    
    <hr>

    <h3>Suggestion de recrutement (IA) :</h3>
    
    {% if candidats %}
        <ul>
            {% for c in candidats %}
                <li style="margin-bottom: 20px;">
                    <strong>{{ c.nom_complet }}</strong> - <span style="color:blue;">{{ c.score }} points</span>
                    <ul style="font-size: 0.9em; color: grey;">
                        {% for detail in c.details %}
                            <li>{{ detail }}</li>
                        {% endfor %} </ul>
                </li>
            {% endfor %} </ul>
    {% else %}
        <p>Aucun candidat trouvé pour les compétences demandées.</p>
    {% endif %}

</div>
{% endblock %}