{% extends "base.html" %}

{% block content %}
    <h2>Inscription d'un nouvel intervenant</h2>

    {% if erreur %}
        <div style="color: red; border: 1px solid red; padding: 10px;">
            <p>{{ erreur }}</p>
        </div>
    {% endif %}
    
    <form action="{{ url_for('Inscription') }}" method="POST">
        
        <fieldset>
            <legend>Informations de Connexion</legend>
            
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" id="username" name="nom_utilisateur" required>

            <label for="email">Email :</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="mot_de_passe" required>

            <label for="confirm_password">Confirmer le mot de passe :</label>
            <input type="password" id="confirm_password" name="confirmation_mdp" required>
        </fieldset>

        <fieldset>
            <legend>Informations Personnelles</legend>
            
            <label for="prenom">Prénom :</label>
            <input type="text" id="prenom" name="prenom" required>

            <label for="nom">Nom :</label>
            <input type="text" id="nom" name="nom" required>
        </fieldset>

        <fieldset>
            <legend>Compétences</legend>
            
            <div id="competences-container">
                <div class="competence-row" style="margin-bottom: 15px; border-bottom: 1px solid #ccc; padding-bottom: 10px;">
                    <label>Compétence :</label>
                    <input type="text" name="competence[]" required placeholder="Ex: Python, Cuisine...">

                    <label>Niveau :</label>
                    <select name="niveau[]" required>
                        <option value="" disabled selected>Choisir...</option>
                        <option value="Expert">Expert</option>
                        <option value="Avancé">Avancé</option>
                        <option value="Intermédiaire">Intermédiaire</option>
                        <option value="Débutant">Débutant</option>
                    </select>
                    
                    <button type="button" onclick="supprimerLigne(this)" style="margin-left: 10px; color: red;">X</button>
                </div>
            </div>

            <button type="button" id="btn-add-competence" style="margin-top: 10px; background-color: #e0f7fa;">+ Ajouter une compétence</button>
        </fieldset>
        <button type="submit">Créer le compte</button>
    </form>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <div class="login-link">
    <p>Vous avez déjà un compte ?</p>
    <a href="{{ url_for('Connexion') }}" class="register-button">Se connecter</a>
    </div>
{% endblock %}