{% extends "base.html" %}

{% block content %}
    <h2 class="titre-page">Inscription d'un nouvel intervenant</h2>

    {% if erreur %}
        <div style="color: red; border: 1px solid red; padding: 10px;">
            <p>{{ erreur }}</p>
        </div>
    {% endif %}
    
    <form action="{{ url_for('Inscription') }}" method="POST">
        
        <fieldset>
            <legend class="sous-titre-section-inscription">Informations de Connexion</legend>
            
            <div class="form-group">
                <label class="label-gras" for="username">Nom d'utilisateur :</label>
                <input type="text" id="username" name="nom_utilisateur" required>
            </div>

            <div class="form-group">
                <label class="label-gras" for="email">Email :</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="form-group">
                <label class="label-gras" for="password">Mot de passe :</label>
                <input type="password" id="password" name="mot_de_passe" required>
            </div>

            <div class="form-group">
                <label class="label-gras" for="confirm_password">Confirmer le mot de passe :</label>
                <input type="password" id="confirm_password" name="confirmation_mdp" required>
            </div>
        </fieldset>

        <fieldset>
            <legend class="sous-titre-section-inscription">Informations Personnelles</legend>
            
            <div class="form-group">
                <label class="label-gras" for="prenom">Prénom :</label>
                <input type="text" id="prenom" name="prenom" required>
            </div>

            <div class="form-group">
                <label class="label-gras" for="nom">Nom :</label>
                <input type="text" id="nom" name="nom" required>
            </div>
        </fieldset>

        <fieldset>
            <legend class="sous-titre-section-inscription">Compétences</legend>
            
            <div id="competences-container">
                <div class="competence-row">
                    <label class="label-gras">Compétence :</label>
                    <input type="text" name="competence[]" required placeholder="Ex: Python, Cuisine...">

                    <label class="label-gras">Niveau :</label>
                    <select name="niveau[]" required class="boutons-stats-selection">
                        <option value="" disabled selected>Choisir...</option>
                        <option value="Expert">Expert</option>
                        <option value="Avancé">Avancé</option>
                        <option value="Intermédiaire">Intermédiaire</option>
                        <option value="Débutant">Débutant</option>
                    </select>
                    
                    <button type="button" onclick="supprimerLigne(this)" style="margin-left: 10px; color: red;">X</button>
                </div>
            </div>

            <button type="button" id="btn-add-competence" class="bouton-action-simple">+ Ajouter une compétence</button>
        </fieldset>
        <button class="mon-bouton" type="submit">Créer le compte</button>
    </form>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <div class="login-link">
    <p class="label-gras">Vous avez déjà un compte ?</p>
    <a href="{{ url_for('Connexion') }}" class="bouton-creercompte">Se connecter</a>
    </div>
{% endblock %}