{% extends 'base.html' %}
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>
{% block content %}
<h1>
PROFIL DE {{nom}} {{prenom}}
</h1>
<div class="user-info-container">
    <div> Nom : {{nom_utilisateur}} </div> 
    <div> Email : {{email_utilisateur}} </div>
    <img src="{{ url_for('static', filename=pdp_actuelle or 'images/default-avatar.png') }}" alt="Photo de profil" style="max-width:150px;">
</div>
<h3 style="margin-top: 0;">
        Statut : 
        {% if dispo == 'Oui' %}
            <span style="color: green;">● Disponible</span>
        {% else %}
            <span style="color: red;">● Indisponible</span>
        {% endif %}
</h3>
<h3>
Compétences:
{% for comp in competences %}
<li>{{ comp.nom }} : {{ comp.niveau }}</li>

{% endfor %}
</h3>
{% endblock %}