{% extends 'base.html' %}
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>
{% block content %}
<h1>
PROFIL DE {{nom}} {{prenom}}
</h1>
<div class="user-info-container">
    <div> Nom : {{nom_utilisateur}} </div> 
    <div> Email : {{email_utilisateur}} </div>
    <img src="{{ url_for('static', filename=pdp_actuelle or 'images/default-avatar.png') }}" alt="Photo de profil" style="max-width:150px;">
</div>
<h3 style="margin-top: 0;">
        Statut : 
        {% if dispo == 'Oui' %}
            <span style="color: green;">● Disponible</span>
        {% else %}
            <span style="color: red;">● Indisponible</span>
        {% endif %}
</h3>
<h3>
Compétences:
{% for comp in competences %}
<li>{{ comp.nom }} : {{ comp.niveau }}</li>

{% endfor %}
</h3>

<div style="margin-top: 50px; border-top: 1px solid #ccc; padding-top: 20px;">
    
    <form action="{{ url_for('upload_intervenant', id_intervenant=id_intervenant) }}" method="POST">
        
        <button type="submit" style="background-color: rgb(39, 157, 242); color: white; padding: 10px; border: none; cursor: pointer;">
            Télécharger le dossier intervenant de {{ nom }} {{ prenom }}
        </button>
        
    </form>
</div>
<div style="margin-top: 50px; border-top: 1px solid #ccc; padding-top: 20px;">
    <h3>Zone de danger</h3>
    
    <form action="{{ url_for('supprimer_intervenant', id_intervenant=id_intervenant) }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet intervenant ? Tous ses projets seront aussi effacés.');">
        
        <button type="submit" style="background-color: red; color: white; padding: 10px; border: none; cursor: pointer;">
            Supprimer le dossier intervenant de {{ nom }} {{ prenom }}
        </button>
        
    </form>
</div>
{% endblock %}