{% extends 'base.html' %}
{% block content %}

<h1>
    Veuillez chercher le nom de l'intervenant qui vous intéresse pour accéder à son profil:
</h1>

<form id="searchForm" action="/recherche" method="get">
    <input type="text" name="nom" placeholder="Nom" required>
    <input type="text" name="prenom" placeholder="Prénom" required>
    <button type="submit">Rechercher</button>
</form>

<h2>
    Tous nos intervenants:
</h2>
{% for int in intervenants %}
<li> <a href= "/Intervenants/{{int.lien}}" > {{int.nom}} {{int.prenom}} </a>
 </li>

{% endfor %}

<div >
    <h3>Mentions honorables </h3>
    <li>
        Le projet phare
    </li> 
    <h5>
        {{honors2}}
    </h5>  
    <li>
        L'infatigable 
        <h5>
            {{honors1}} est l'intervenant qui a complété le plus de projets: {{nbr_projet}} depuis son inscription.
        </h5>
    </li>
    <li>
        En plein décollage : nouveau projet      
        <h5>
            Bon courage à {{honors1}} pour son nouveau projet! 
        </h5>
    </li>

</div>

{% endblock %}