{% extends 'base.html' %}

{% block content %}
    <p> 
        <a href="https://telecomnancy.univ-lorraine.fr/">Télécom Nancy</a>
        <img src="{{ url_for('static', filename='images/telecom_nancy.png') }}">
        <div>
            
            L'école nous fournit le cadre académique et l'expertise technique de ses étudiants-ingénieurs, 
            spécialisés dans les domaines de l'informatique, des réseaux et des systèmes d'information. 
            Ce lien très étroit assure la qualité et l'innovation des prestations proposées par TNS.
        </div>
       
    </p>
    <p> 
        <a href="https://www.lcl.fr/">LCL</a>
        <img src="{{ url_for('static', filename='images/lcl.png') }}">
        <div>
            
            Notre relation avec un des acteurs majeurs du secteur bancaire est cruciale pour l'employabilité de nos étudiants. 
            Le secteur bancaire est très intéressant pour des stages ou futurs emplois car il demande des compétences élevées en cybersécurité des transactions, développement d'applications mobiles bancaires et transformation numérique des services clients.
        </div>
    </p>

    <p> 
        <a href="https://iaemetz.univ-lorraine.fr/fr">IAE Metz École universitaire de management </a>
        <img src="{{ url_for('static', filename='images/iae.png') }}">
        <div>
            
            Le partenariat avec l'IAE Metz enrichit notre offre par l'interdisciplinarité. Tandis que TNS
            apporte l'expertise technique en ingénierie du numérique, l'IAE apporte  l'expertise en marketing, finance et stratégie d'entreprise. .
        </div>
        
    </p>

    <p> 
        <a href="https://www.societegenerale.com/">Société générale</a>
        <img src="{{ url_for('static', filename='images/societe_generale.png') }}">
        <div>
            
            Notre relation avec un des acteurs majeurs du secteur bancaire est cruciale pour l'employabilité de nos étudiants. 
            Le secteur bancaire est très intéressant pour des stages ou futurs emplois car il demande des compétences élevées 
            en cybersécurité des transactions, développement d'applications mobiles bancaires et transformation numérique des services clients.
        </div>
    </p>

    <p> 
        <a href="https://www.transalliance.eu/">Transalliance</a> 
        <img src="{{ url_for('static', filename='images/transalliance.png') }}"  alt="logo" >

        <div>
            
            La collaboration avec Transalliance illustre l'application des technologies numériques au 
            secteur de la logistique et du transport. 
        </div>
    </p>

    <p> 
        <a href="https://www.wigfrance.fr/">WIG France Entreprise</a>
        <img src="{{ url_for('static', filename='images/wig.png') }}"  alt="logo" >
        <div>
            
            Le partenariat avec WIG France Entreprise, souvent lié aux infrastructures de télécommunication, est essentiel pour les projets impliquant l'ingénierie des réseaux et le déploiement de solutions de connectivité. 
            Les intervenants peuvent alors gagner de l'expérience sur les défis concrets de la couverture réseau, de l'optimisation des flux et de la mise en œuvre d'architectures de communication complexes pour le compte de leurs clients.

        </div>
    </p>

    <p> 
         <a href="https://www.univ-lorraine.fr/">Université de Lorraine</a>
        <img src="{{ url_for('static', filename='images/universite_de_lorraine.png') }}" alt="logo" >
        <div>
           

            L'Université de Lorraine est le pilier académique abritant Télécom Nancy et, par extension, notre Junior-Entreprise. 
            Ce partenariat nous offre une légitimité institutionnelle et l'accès au grand réseau de recherche, d'innovation et des nouvelles technologies dont fait partie l'université de Lorraine. 
            
        </div>

    </p>

    <p> 
        <a href="https://www.inria.fr/fr">INRIA</a> 
        <img src="{{ url_for('static', filename='images/inria.png') }}" alt="logo">
        <div>
            
            Notre collaboration avec l'INRIA est stratégique, non seulement par la proximité géographique
            de nos locaux respectifs, mais aussi car ce lien permet à nos étudiants de s'immerger dans 
            des problématiques de pointe et d'appliquer les résultats de la recherche académique à des 
            projets concrets d'entreprise, notamment en intelligence artificielle, cybersécurité ou 
            systèmes distribués.
            A noter, certains de professeurs-chercheurs travaillent à l'INRIA!

        </div>
    </p>

    <p> 
        <a href="https://otelo.univ-lorraine.fr/"> OTELO (Observatoire Terre et environnement de Lorraine)</a>
        <img src="{{ url_for('static', filename='images/osul.png') }}" alt="logo">
        <div>
           
            Le partenariat avec l'OSUL est particulièrement pertinent pour les projets impliquant le traitement de données massives (Big Data), la modélisation et les applications liées aux sciences de la Terre et de l'Univers
        </div>
    </p>

    <p> 
        <a href="https://www.rte-france.com/">RTE (Réseau de Transport d'Électricité) </a> 
        <img src="{{ url_for('static', filename='images/rte.png') }}" alt = "Logo">
        <div>
            
            Le partenariat avec RTE, acteur essentiel de la transition énergétique, permet à nos étudiants de découvrir le travail sur des enjeux d'infrastructures critiques. Cela offre à nos intervenants une expérience dans le domaine de l'énergie, très demandeur.
        </div>
    </p>

    <p> 
         <a href="https://www.pasteur-sante.fr/"> Louis Pasteur Santé </a>
        <img src="{{ url_for('static', filename='images/clinique_louis_pasteur.png') }}" alt = "Logo">
        <div>
           
            Notre engagement auprès de Louis Pasteur Santé met en évidence l'application de l'ingénierie
            numérique au secteur de la santé (e-santé). Domaine qui est valorisé dans l'école grace au 
            double-diplôme "Santé-numérique".
            
        </div>
    </p>

    <p> 
         <a href="https://ensgsi.univ-lorraine.fr/">ENSGSI (École Nationale Supérieure en Génie des Systèmes et de l'Innovation)</a> 
         <img src="{{ url_for('static', filename='images/ensgsi.png') }}" alt = "Logo">
        <div>
           
            École d'ingénieur spécialisée en innovation, lintimement liée avec Télécom Nancy avec 
            un double diplôme -qui permet à certains élèves de passer 2 ans au sein de l'ENSGSI et 2 ans
            au sein de Télécom Nancy- leur offrant alors la capacité de fournir des solutions numériques non 
            seulement performantes techniquement, mais aussi parfaitement intégrées et alignées avec la stratégie globale du client.
            
        </div>
    </p>

{% endblock %}