{% extends 'base.html' %}

{% block content %}
<div class="conteneur">

    <div class="entete">
        <h1>Tableau de bord des Projets</h1>
        <a href="{{ url_for('ajouter_documents') }}" class="mon-bouton">Ajouter un document</a>
    </div>

    <div class="resume-projets">
        
        <div class="carte-stat bordure-orange">
            <h3 class="sous-titre texte-orange">En cours ({{ projets_en_cours|length }})</h3>
            <ul class="petite-liste">
                {% for projet in projets_en_cours %}
                    <li><strong>#{{ projet.idp }}</strong> - {{ projet.client_nom }}</li>
                {% else %}
                    <li class="gris">Aucun projet</li>
                {% endfor %}
            </ul>
        </div>

        <div class="carte-stat bordure-vert">
            <h3 class="sous-titre texte-vert">Terminés ({{ projets_termines|length }})</h3>
            <ul class="petite-liste">
                {% for projet in projets_termines %}
                    <li><strong>#{{ projet.idp }}</strong> - {{ projet.client_nom }}</li>
                {% else %}
                    <li class="gris">Aucun projet</li>
                {% endfor %}
            </ul>
        </div>

        <div class="carte-stat bordure-bleu">
            <h3 class="sous-titre texte-bleu">En attente ({{ projets_attente|length }})</h3>
            <ul class="petite-liste">
                {% for projet in projets_attente %}
                    <li><strong>#{{ projet.idp }}</strong> - {{ projet.client_nom }}</li>
                {% else %}
                    <li class="gris">Aucun projet</li>
                {% endfor %}
            </ul>
        </div>

    </div>

    <div class="details-projets">
        <h3 class="titre">Liste complète des projets ({{ tous_les_projets|length }})</h3>
        
        <ul class="liste-liens">
            {% for projet in tous_les_projets %}
                <li>
                    <a href="{{ url_for('details_projet', id_projet=projet.idp) }}">
                        <span class="id-projet">#{{ projet.idp }}</span> 
                        {{ projet.titre_projet }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

</div>
{% endblock %}