{% extends 'base.html' %}

{% block content %}
    <h1>Tableau de bord des Projets :</h1>
	
	<h3>Nombre de Projets :</h3>
	<p></p>

	<h3>Projets en cours :</h3>
        <p></p>
	    <h4>Budget :</h4>
	    <p></p>

	<h3>Projets terminés :</h3>
        <p></p>

            <h4>Budget utilisé :</h4>
            <p></p>

        <h3>Budget restant :</h3>
        <p></p>


    <h2>Détails des Projets :</h2>

	<h3>Projet 1 :</h3>
	<p>Avancement :</p>
	<p><strong>Chef de Projet :</strong></p>

	<h3>Projet 2 :</h3>
        <p>Avancement :</p>
        <p><strong>Chef de Projet :</strong></p>
{% endblock %}
